<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}
	<body>
		<div class="content">
			{{ partial "head.html" . }}
			
			<main class="list">
				{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
				{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
				{{ range $paginator.Pages }}
				<section class="list-item">
					<div class="post-container">
						<div class="post-content">
							<h1 class="title"><a href="{{ .RelPermalink }}">{{.Title}}</a></h1>
							<div class="meta">
								{{ .Date.Format "2006年01月02日 |" }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}
								{{ range .Params.categories }}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}" class="category-link" >{{ . }}</a>{{ end }}
							</div>
							<div class="description">
								{{ if isset .Params "description" }}
								{{ .Description }}
								{{ else }}
								{{ .Summary }}&hellip;
								{{ end }}
							</div>
							<a href="{{ .RelPermalink }}" class="readmore">Read More</a>
						</div>
					</div>
				</section>
				{{ end }}
				{{ template "partials/paginator.html" . }}
			</main>
			{{ partial "footer.html" . }}
		</div>
	</body>
</html>
