{{ define "main" }}
{{ if isset .Data "Term" }}
<h1>Entries tagged - "{{ .Data.Term }}"</h1>
{{ else }}
<main>
  <article>
    <div class="post-container">
      <div class="post-content">
        <div class="title"><h1 class="title">归档</h1></div>
{{ end }}
        {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
        <div class="category-item">
          <a href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}" >
            {{ $name }} ({{ $taxonomy.Count }})
          </a>
        </div>
        {{ end }}
        {{- $paginator := .Paginate (.Data.Pages) 20 -}} <!-- 每页最大显示 20 篇 -->
        {{- $yearlyPages := $paginator.Pages.GroupByDate "2006" -}}
        {{- $yearlyTotalPages := .Data.Pages.GroupByDate "2006" -}}
        <!-- 创建总文章数的映射表 -->
        {{- $totalCountMap := dict -}}
        {{- range $totalyearGroup := $yearlyTotalPages -}}
          {{- $totalCountMap = merge $totalCountMap (dict $totalyearGroup.Key (len $totalyearGroup.Pages)) -}}
        {{- end -}}
        {{- range $yearGroup := $yearlyPages -}}
          {{- $year := $yearGroup.Key -}}
          {{- $count := len $yearGroup.Pages -}}
          {{- $totalcount := index $totalCountMap $year -}}
          {{if eq $count $totalcount}}
          <h2 class="archive-year-header" id="{{ $year }}"> {{ $year }} 
            <sup class="archive-count">{{ $count }}</sup>
          </h2>
          {{ else }}
          <h2 class="archive-year-header" id="{{ $year }}"> {{ $year }} 
            <sup class="archive-count">{{ $totalcount }}({{ $count }})</sup>
          </h2>
          {{ end }}
          <ul class="article-list">
          {{- range $yearGroup.Pages -}}
            {{- if (not (in (.Site.Params.excludedTypes | default (slice "page")) .Type)) -}}
            <li>
              <span class="post-title"><a href="{{ .RelPermalink }}">{{.Title}}</a></span> <span class="post-date">{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</span>
            </li>
            {{- end -}}
          {{- end -}}
          </ul>
        {{- end -}}
        <div class="pagination">
          <ul class="pagination">
            <span class="page-item page-prev">
            {{ if $paginator.HasPrev }}
            <a {{ if $paginator.HasPrev }}href="{{ $paginator.Prev.URL }}"{{ end }} class="page-link" aria-label="Previous"><span aria-hidden="true">← Prev</span></a>{{ else }}*First{{ end }}
            </span>
            <span class="page-item page-number">{{ $paginator.PageNumber }} of {{ $paginator.TotalPages }}</span>
            <span class="page-item page-next">
            {{ if $paginator.HasNext }}
            <a {{ if $paginator.HasNext }}href="{{ $paginator.Next.URL }}"{{ end }} class="page-link" aria-label="Next"><span aria-hidden="true">Next →</span></a>{{ else }}Last*{{ end }}
            </span>
          </ul>
        </div>
      </div>
    </div>
  </article>
</main>
{{ end }}
